

services:

#  web-craw:
#    image: python:3.12.12-slim-bookworm
#
#    volumes:
#      - ./:/app
  web-craw:
    restart: unless-stopped
    # docker build -t myapp -f resources/docker/Dockerfile .
    build:
      context: .
      dockerfile: ./Dockerfile
    #      args:
    #        BUILDKIT_PROGRESS: plain  # 进度输出格式
    #    network_mode: "host"
    stdin_open: true
    tty: true
    ports:
      - "8091:8091"
    volumes:
      - "./log:/usr/src/app/log"
      - "./resources/details:/usr/src/app/resources/details"
    environment:
      S_HY_MAX_TASKS: 5

#  nginx-web:
#    restart: unless-stopped
#    image: "nginx:latest"
#    ports:
#      - "80:80"
#    volumes:
#      - ./resou
#    depends_on:
#      - web-craw
